.jumbotron {
    height: 300px;
}

.add-transport {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    display: block;
}

.current-schedule {
    width: 80%;
    margin-left: 10%;
}

/* input:focus {
    background-color: yellow;
} */

#schedule-title {
    text-align: center;
}