nav {
    background-color: #FFC933;
    padding-bottom: 5%;
    padding-top: 0.5%;
}

/*JUMBOTRON EDITS*/
.jumbotron {
    height: 550px;
    background: url(../images/background.png) center center no-repeat;
    background-size: cover;
    margin-top: -2%;
}

#jumbo-description {
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    padding-top: 21%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
}

/*NAV EDITS*/
.brand-logo {
    margin-left: 5%;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
}

#nav-mobile {
    margin-right: 5%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
/*CURRENT SCHEDULE */
.current-schedule {
    width: 80%;
    margin-left: 10%;
}

.clear-table {
    margin-left: 42%;
    margin-top: 5%;
    background-color: #FC4638;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

#schedule-title {
    text-align: center;
    margin-top: 5%;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
}

/*FORM/INFO EDITS */
#add-btn {
    background-color: #FC4638;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

#form {
    padding: 5.75%;
} 

.table-input {
    color: white;
}

.col {
    display: table-cell;
}

#testing {
    font-size: 5em;
    padding: 90px 10px 120px 30px;
    height: 100%;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    font-size: 5em;
} 
  
#bottom-row {
    margin-top: 5%;
    width: 100%;
}

/* EQUAL COLUMNS */

.row {
    display: table;
}

.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


/* input:focus {
    background-color: yellow;
} */

/* FOOTER */
.page-footer {
    margin-top: -1.5%;
    height: 70px;
    background-color: #FFC933;
}